body
{
    background-color:#bfbfbf;
    color: white;
}
#container
{
width:1250px; 
margin-left:auto;
margin-right:auto;
}
.rectangle
{
    width: 1210px;
    margin: 20px;
}
#topbarL
{ 
    float:left;
 width: 605px;
    height: 99px;
    background-color: #bfbfbf;
    text-align:left;
    font-size: 29px;
    font-family: 'Merienda', cursive;
    margin-top: 20px;
    color:black;

}
#ty{
    text-align: center;
    font-family: 'Merienda', cursive;
    font-size: 50px;
    background-color: #303030;
    padding: 2px;
    border-bottom: 2px solid white;
}
#ty2
{ 
    float:right;
    padding: 20px;
 width: 620px;
    background-color:#303030;
     text-align:left;
    height: 138px;
}
#ty22
{ text-align: center;
     font-family: 'Merienda', cursive;
    color:white;
    font-size: 25px;
    float:right;
 width: 307px;
    background-color: #303030;
    height: 113px;
    border-top: 2px solid white;
    border-right: 2px solid white;
}#ty222
{ text-align: center;
    font-family: 'Merienda', cursive;
    color:white;
    font-size: 25px;
    float:left;
 width: 307px;
    background-color: #303030;
    height: 113px;
    border-right: 2px solid white;
    border-top: 2px solid white;
    border-left: 2px solid white;
    
}
#ty2222
{padding: 5px;
    font-family: 'Merienda', cursive;
    color:white;
    font-size: 25px;
    text-align: center;
 width: 610px;
    background-color: #303030;
    height: 37px;
    border-top: 2px solid white;
    
}
#ty3
{ text-align: center;
    float:left;
 width: 550px;
    background-color:#303030;
    height: 550px;}
#ty4
{ text-align: center;
    float:right;
 width: 660px;
    background-color: #303030;
    height: 544px;
    font-family: 'Merienda', cursive;
    color:white;
    font-size: 25px;
}
#ty44
{ 
    font-family: 'Merienda', cursive;
    color:white;
    font-size: 25px;
 width: 650px;
    background-color: #303030;
    height: 35px;
    padding: 5px;
    border-bottom: 2px solid white;
     border-top: 2px solid white;
}
#ty444
{ 
    font-family: 'Merienda', cursive;
    color:white;
    font-size: 25px;
text-align:left;
 width: 650px;
    background-color: #303030;
    height: 500px;
    font-family: 'Merienda', cursive;
    color:white;
    font-size: 25px;
    padding: 5px;

}

#topbarR
{
    color:#ff8000;
    text-align:right;
    float:left;
    width: 605px;
    margin-top: 16px;
    font-family: 'Merienda', cursive;
font-size:29px;
    height: 79px;
    background-color: #bfbfbf;
}
#powitanie
{
    margin-top: 15px;
    width:1210px;
    height: 235px;
    font-family: 'Merienda', cursive;
    background-color: #303030;
    color:white;
    font-size: 75px;
    text-align: center;
}
#powitanie0
{
    margin-top: 15px;
    width:1210px;
    height: 100px;
    font-family: 'Merienda', cursive;
    background-color: #303030;
    color:white;
    font-size: 75px;
    text-align: center;
}
#kategorie
{
    margin-top: 5px;
    font-family: 'Merienda', cursive;
    background-color: #303030;
    color:white;
    padding:10px;
    width:1190px;
    height: 200px;
}

#kategorieogl
{
    margin-top: 5px;
    font-family: 'Merienda', cursive;
    background-color: #303030;
    color:white;
    padding:10px;
    width:1190px;
    height: 87px;
}

#kategorie1
{
    margin-top: 10px;
    font-family: 'Merienda', cursive;
    background-color: #303030;
    color:white;
    width:1210px;
    height: 500px;
    font-size:50px;
    text-align: center;
}
#ogl
{margin-top: 10px;
    font-family: 'Merienda', cursive;
    background-color: #303030;
    color:white;
    width:1210px;
    height: 720px;
    font-size:30px;
    text-align: center;
    overflow-y:auto;
}
#topbarL
{ 
    float:left;
    padding: 20px;
 width: 605px;
     text-align:left;
    height: 79px;

}
#topbarR
{
    color:black;
    text-align:right;
    float:left;
    width: 525px;
    padding: 20px;
    font-family: 'Merienda', cursive;
font-size:29px;
    height: 79px;
}
#kategorie111
{
    margin-top: 10px;
    font-family: 'Merienda', cursive;
    background-color: #303030;
    color:white;
    width:1220px;
    font-size:25px;
    text-align: center;
}
#kategorie1111
{
    font-family: 'Merienda', cursive;
    background-color: #303030;
    color:white;
    width:1237px;
    height: 700px;
    font-size:25px;
    text-align: center;
    overflow-y:auto;
}

#nagl
{border-bottom: 2px solid white;
    font-family: 'Merienda', cursive;
    background-color: #303030;
    color:white;
    padding:10px;
    width:1190px;
    height: 70px;
    font-size: 50px;
    text-align: center;
}
#naglowek
{
     margin-top: 15px;
    font-family: 'Merienda', cursive;
        color: white;
    text-align: center;
     padding:5px;
    font-size: 45px; 
}
.test
{
     padding:10px;
   float:left;
   width:573px;
    text-align: center;
    font-size: 60px;
    border-right: 2px solid white; 
}
.test:hover
{
   background-color: #ff8000;
cursor: pointer;  
}
.testo
{
     padding:10px;
   float:left;
   width:573px;
    text-align: center;
    font-size: 60px;
}
.testo:hover
{
   background-color: #ff8000;
cursor: pointer;  
}
.test22
{
     padding:10px;
   float:left;
   width:374px;
    text-align: center;
    font-size: 60px;
    
}
.test22:hover
{
   background-color: #ff8000;
cursor: pointer;  
}
.test1
{
   float:left;
   width:1190px;
    text-align: center;
    font-size: 60px;
}
.test1:hover
{
   background-color: #ff8000;
cursor: pointer;  
}
.test2
{
   float:left;
   width:580px;
    text-align: center;
    font-size: 60px;
}
.test2:hover
{
   background-color: #ff8000;
cursor: pointer;  
}
input[type=submit]
{
    font-family: 'Merienda', cursive;
	width: 250px;
	background-color: #ff8000;
	font-size:29px;
	color: white;
	margin-top: 30px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	letter-spacing: 2px;
	outline: none; 
    height: 45px;
}
input[type=submit]:hover
{
	background-color: #ff9933;
}
#stopa1
{
    float:left;
    margin-top: 25px;
    padding:25px;
    background-color: black;
    color: white;
    font-size:25px;
    width:555px;
     text-align: center;
}
#stopa2
{
    float:left;
    margin-top: 25px;
    padding:25px;
  background-color: black;
    color: white;
    font-size:25px;
    width:555px;
    text-align: center;
}
a:link
{
  color:white;  
text-decoration: none;
}
a:visited
{
   color:white;  
    text-decoration: none;
}
a:hover
{
    color:black;
    text-decoration: none;
}

.test00
{
     padding:10px;
   float:left;
   width:573px;
    text-align: center;
    font-size: 60px;
    border-right: 2px solid white;
    
}
.test00:hover
{
   background-color: #ff8000;
cursor: pointer;  
}
.test001
{
     padding:10px;
   float:left;
   width:573px;
    text-align: center;
    font-size: 60px; 
}
.test001:hover
{
   background-color: #ff8000;
cursor: pointer;  
}

TH {   
    text-align: center;
    background-color: #ff8000;
}
TABLE, TD,{ 
    border: 1px solid white;
    border-bottom: 1px solid white;
    text-align: left;
}

TABLE {

    border-collapse: collapse;
    width: 100%;
}

TH, TD {
    padding: 15px;
     border-bottom: 1px solid white;
}
img {
 width: 100px;
}